# Build artifacts
bin/
dist/
*.bin

# OS files
.DS_Store

# IDE/project settings
.vscode/
.idea/

# Logs
*.log

# Environment files
.env
.env.*

# Go specific
*.test
*.out

# Executables/libraries
*.exe
*.dll
*.so
*.dylib

# Merge leftovers
*.orig

# Project binaries
/eks-aws-auth-plugin
/kubeconfig-secretreader-plugin
